<div class="col-sm-3">
    <ul class="nav bd-sidenav">
        <li>
            <%= link_to '商品登録', new_shop_path %>
        </li>
        <li class="active bd-sidenav-active">
            <a href="/docs/4.0/layout/grid/">
                売上分析
            </a>
        </li>
        <li>
            <a href="/docs/4.0/layout/media-object/">
                売上管理
            </a>
            </li>
        <li>
            <a href="/docs/4.0/layout/utilities-for-layout/">
                店舗管理
            </a>
        </li>
    </ul>
</div>